/*
Tema: Start sua carreira dev
Tema url:  https//www.startsuacarreira.com.br
Autor: Cloves Rodrigues
Descrição: Curso intensivo "Maratona de Programação Web- Do 0 ao código, ministrada por Kenzie Acaddemy.
Versão: 1.0

----------------------------------------------------
ESTRUTURAÇÃO_BASE
----------------------------------------------------

**** DECLARAÇÃO DE VARIÁVEIS
**** ESTILOS GERAIS
**** BODY
**** HEADER
**** MAIN
**** FOOTER
**** PÁGINA_INICIAL
**** @MEDIA
 */

/* DECLARAÇÃO DE VARIÁVEIS */
:root
    {
        --color-1: rgb(58, 3, 110);
        --color-2: rgb(163, 32, 141);
        /* Darkmodecolor */
        --dark-1: black;
        --dark-2: rgb(33, 2, 48);
        --dark-3: rgb(163, 32, 141);
    }
/* ESTILOS GERAIS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.container
    {
        width: 100%;
        max-width: 1180px;
        margin: 0 auto;
    }
section h2, h2
    {
        font-size:1.3rem;
        color: var(--color-1);
        margin-bottom: 10px;
    }
p,li,strong,h3
    {
        font-size: 14px;
        color: var(--color-2);
        line-height: 22px;
    }
li
    {
        margin-bottom: 10px;
    }
h3  
    {
        font-size: 1.2rem;
    }
.informacaoescontato__descrição__li
    {
        color: var(--color-2);
    }
section
{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px dashed var(--color-1);
}
.informacaoescontato__trocarmodo{
}
.informacaoescontato__trocarmodo label{
    width:50px;
    height: 25px;
    display: block;
    background-color: var(--color-1);
    border-radius: 22px;
    cursor: pointer;
    padding:3px;
    border: white solid 1px;
    text-align: left;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
    transition: 0.5s;
}
.informacaoescontato__trocarmodo label span{
    width:18px;
    display: inline-block;
    height: 18px;
    background-color: var(--color-2);
    border-radius: 100%;
    transition: 0.5s;
}
#darkmode{
    display:none;
}

/* BODY */
    body
    {
        background-color: var(--color-2);
    }
    input:checked ~ main h2,input:checked ~ main p, input:checked ~ main li,
    input:checked ~ main h3, input:checked ~main strong {
        color: var(--dark-2)
    }
    input:checked ~ main{
        background-color: var(--dark-2);
    }
    input:checked ~ main .colum--esquerda{
        background-color: var(--dark-2);
    }
    {
        color: var(--dark-2);
    }
    input:checked ~ main .colum--direita{
        background-color: var(--dark-3);
    }
    input:checked ~ footer {
        background-color: var(--dark-1);
    }
    input:checked ~ main .informacaoescontato__imagem figure img{
        border: solid 5px var(--dark-3);
    }
    input:checked ~ main .informacaoescontato__descrição,
    input:checked ~ main .informacaoescontato__descrição h2,
    input:checked ~ main .informacaoescontato__descrição ul li{
        color: var(--dark-3)
    }
    input:checked ~ main .informacaoescontato__trocarmodo label{
    background-color: var(--color-2);
    
    }
    input:checked ~ main .informacaoescontato__trocarmodo label span{
        background-color: var(--color-1);
        transform: translateX(25px);
    }
    


/* MAIN */

/* PÁGINA_INICIAL */
main .row
    {

    }
main .colum
    {
    
    }
/* ---Coluna Esquerda---*/
main .colum--esquerda
    {
        background-color: var(--color-2);
        border-bottom: 5px solid var(--color-1);
    }
.informacaoescontato
    {
    
    }
.informacaoescontato__imagem 
    {    
        text-align: center;
        padding:30px;
    }
.informacaoescontato__imagem figure img
    {
        width: 100%;
        max-width: 160px;
        border: 5px solid  var(--color-1); 
        border-radius: 100%;
    }
.informacaoescontato__imagem figure .hide
    {
        opacity: 0;
        display: none;
    }
.informacaoescontato__descrição
    {
        text-align: center;
        color: var(--color-1); 
    }
.informacaoescontato__descrição h1
    {
        font-size: 1.5rem;
    }
.informacaoescontato__descrição h2
    {
        font-size: 14px;
        font-weight: normal;
        color: var(--color-1); 
    }
.informacaoescontato__descrição ul
    {
        margin-top: 20px;
    }
.informacaoescontato__descrição ul li
    {
        margin-bottom: 10px;
        color: var(--color-1);
    }
.informacaoescontato__descrição ul li a
    {
        font-size: 14px;
        color: inherit;
    }
/* ---Coluna Direita---*/
main .colum--direita
    {
        background-color: white;
        text-align: center;
    }
main.column--direita section
    {

    }
.informacaoPortifolio
    {

    }
.informacaoPortifolio__perfil
    {

    }
.informacaoPortifolio__perfil h2
    {

    }
.informacaoPortifolio__perfil p
    {

    }
.informacaoPortifolio__habilidades
    {

    }
.informacaoPortifolio__habilidades h2
    {

    }
.informacaoPortifolio__habilidades ul
    {

    }
.informacaoPortifolio__habilidades ul li 
    {
        
    }
.informacaoPortifolio__formacao
    {

    }
.informacaoPortifolio__formacao h2
    {
        
    }
.informacaoPortifolio__formacao ul
    {

    }
.informacaoPortifolio__formacao ul li 
    {

    }
.informacaoPortifolio__experiencia
    {
        border-bottom: none;
    }

/* FOOTER */

footer
    {
        background-color: var(--color-1);
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 0;
    }
.redesSociais
    {

    }
.redesSociais__lista
    {

    }
.redesSociais__lista__item
    {
        display: inline-block;
        margin: 0 5px; 
    }
.redesSociais__link
    {

    }
.redesSociais__img
    {
        width:100%;
        max-width: 65px;
    }

/* @MEDIAQUERY */
@media screen and (min-width:768px ){
    main .row{
        display: flex;
        flex-flow: row wrap;
    }
    main .colum--esquerda{
        flex-basis: 34%;
        border-right: solid 3px var(--color-1);
        border-bottom: none;
    }
    main .colum--direita{
        flex-basis: 66%;
    }
}